<h4 class="line-head">Add New POS</h4>

<form method="post" action="/pos/CreatePos" onsubmit = "return SubmitForm(this)">
    <div class="row mb-4">
        <div class="col-md-4">
            <label>Persian Name</label>
            <input name="PersianName" class="form-control" type="text" />
        </div>
        <div class="col-md-4">
            <label>English Name</label>
            <input name="EnglishName" class="form-control" type="text" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4">
            <label>Tables Count</label>
            <input name="TablesCount" class="form-control" type="number">
        </div>
        <div class="col-md-4">
            <label>Seats Count</label>
            <input name="SeatsCount" class="form-control" type="number">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4">
            <label>Service Charge Percent</label>
            <input name="ServiceChargePercent" class="form-control" type="tel">
        </div>
        <div class="col-md-4">
            <label>Tax Change Percent</label>
            <input name="TaxChangePercent" class="form-control" type="text">
        </div>
        <div class="col-md-4">
            <label>Vat Change Percent</label>
            <input name="VatChangePercent" class="form-control" type="text">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4">
            <label>Ticket Number</label>
            <input name="TicketNumber" class="form-control" type="text">
        </div>
        <div class="col-md-4">
            <label>Ticket No Daily Reset</label>
            <div class="toggle-flip">
                <label>
                    <input name="TicketNoDailyReset" type="checkbox"><span class="flip-indecator" data-toggle-on="NO" data-toggle-off="YES"></span>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <label>Invoice Type</label>
            <select name="InvoiceType" class="form-control">
                <option value="1">A5</option>
                <option value="2">Pos</option>
            </select>
        </div>
    </div>
    <div class="row mb-10">
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i> Save</button>
        </div>
    </div>
</form>

