@model IEnumerable<Lezizz.Core.Domain.Entities.Pos>

@{
    ViewData["Title"] = "Index";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-dashboard"></i> Pos</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Pos</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="tile p-0">
            <ul class="nav flex-column nav-tabs user-tabs">
                <li class="nav-item"><a id="tab-btn-1" class="nav-link active" href="#pos-list" data-toggle="tab">POS List</a></li>
                <li class="nav-item"><a id="tab-btn-2" class="nav-link" href="#add-new-pos" data-toggle="tab" id="add-new-pos-button">Add New POS</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div class="tab-content">
            <div class="tab-pane active" id="pos-list">
                <div class="tile user-settings">
                    <partial name="List.cshtml" />
                </div>
            </div>
            <div class="tab-pane fade" id="add-new-pos">
                <div class="tile user-settings">
                    <partial name="Create.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var dt = $(".data-table").DataTable({
            ajax: {
                url: "/Pos/PosList",
                type: "GET",
                dataType: "json"
            },
            columns: [
                { data: "englishName" },
                { data: "persianName" },
                {
                    data: "posId", render: function (data) {
                        return `<button class="btn btn-outline-danger btn-sm" type="button" onclick="deletePos(${data})"> <i class="fa fa-trash" style="margin-right:0"></i></button>
                                                    <button class="btn btn-outline-info btn-sm" type="button"> <i class="fa fa-info-circle" style="margin-right:0"></i></button>`;
                    },
                    orderable: false,
                    width: "150px"
                }

            ]
        });

        function SubmitForm(form) {
            debugger;
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (status) {
                    if (status) {
                        dt.ajax.reload();
                        form.reset();
                        $('#add-new-pos').removeClass("active");
                        $('#tab-btn-2').removeClass("active");
                        $('#pos-list').addClass("active");
                        $('#tab-btn-1').addClass("active");
                        
                    } else {
                        alert("incorrect data");
                    }
                }
            });

            return false;
        }
        function deletePos(posId) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel ",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        type: "GET",
                        url: `/pos/delete/${posId}`,
                        dataType: "json",
                        success: function (status) {
                            debugger;
                            if (status) {
                                swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                dt.ajax.reload();
                            }
                            else {
                                swal("not found!", "not found", "error");
                            }

                        }
                    });

                } else {
                    swal("Cancelled", "Canceld", "error");
                }
            });
        }

    </script>
}
