<h4 class="line-head">Pos List</h4>
<table class="table table-hover table-bordered data-table">
    <thead>
        <tr>
            <th>English Name</th>
            <th>Persian Name</th>
            <th>Command</th>
             @*   <th>Seats Count</th>
                <th>Ticket Number</th>
                <th>Ticket No Daily Reset</th>
                <th>Commands</th>*@
        </tr>
    </thead>
</table>

